version: 2
updates:
  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/src"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 20
  - package-ecosystem: "npm" # See documentation for possible values
    directories:
      - "/src/Spd.Presentation.Licensing/ClientApp"
      - "/src/Spd.Presentation.Screening/ClientApp"
      - "/src/Spd.Presentation.GuideDogServiceDog/ClientApp"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 20
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
