

button.mdc-button {
  width: 100%;
  letter-spacing: var(--mdc-typography-button-letter-spacing, 0.02em);

  &.large {
    height: 46px;
    font-size: 1rem;
  }
}

.mat-step-text-label {
  white-space: normal;
}

.mat-step-label-selected .mat-step-text-label {
  color: var(--color-yellow);
  font-weight: bold;
}

.mat-step-header .mat-step-icon-selected {
  background-color: var(--color-yellow);
  color: #fff !important;
}

.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #155724 !important;
  color: #fff !important;
}

.mat-step-header:active, .mat-step-header.cdk-program-focused, .mat-step-header.cdk-keyboard-focuses {
  background-color: unset;// rgba(0, 0, 0, 0.04);
}

.mdc-form-field {
  background-color: rgba(245, 245, 245);
}

.mdc-text-field--disabled .mdc-text-field__input {
  color: rgba(0, 0, 0, 0.68);
}

.mat-mdc-card-content {  
  text-align: center;
}

.mat-mdc-form-field, .mat-mdc-radio-button, .mat-mdc-checkbox {  
  width: 100%;
}

.mdc-form-field>label {
  width: 100%;
}

.mat-mdc-option {
  margin-bottom: 15px;
}
.mat-mdc-form-field-icon-prefix > .mat-icon {
  padding-top: 30px !important;
}

.mat-mdc-radio-group {
  text-align: left;
}

.mdc-form-field {
  width: 100%;
}

// .mdc-form-field {
//   background-color: inherit; // make radio button without grey background
// }

mat-hint {
  font-size: small;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: var(--color-primary-lightest);
}

.mat-horizontal-content-container {
  padding: 0 !important;
}

.mat-mdc-form-field-error {
  font-size: .75em;
  font-weight: 400;
}

mat-label {  
  color: var(--color-grey-dark);
  font-weight: 500;
}

.mat-mdc-form-field-required-marker {
  display: none;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border: 2px solid var(--color-yellow);
}

.mat-sort-header {
  .mat-sort-header-content {
    font-weight: 600;
    font-size: 1.1em;
  }

  .mat-sort-header-sorted {
    color: var(--color-green);
  }
}

.mat-mdc-row:hover {
  background-color: var(--color-grey-lightest) !important;
}

.mobile-label {
  display: none;
}

@media(max-width: 575px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {    
    padding: 0 16px 0 16px !important;
  }

  .mat-mdc-header-row {
    display: none;
  }
  
  .mdc-data-table__cell, .mdc-data-table__header-cell {
     border-bottom-style: none !important; 
  }

  .mat-mdc-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important; 
  }
}
