name: Prune old images

on:
  schedule:
    - cron: "0 0 * * *"  # every day at midnight
  workflow_dispatch:

jobs:
  prune-images:
    name: Prune
    runs-on: ubuntu-latest
    steps:
    - name: Prune dynamics-helper images
      uses: vlaurin/action-ghcr-prune@v0.6.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        organization: bcgov
        container: pssg-spdbt/dynamics-helper
        dry-run: false
        keep-younger-than: 7 # days
        keep-last: 5
        prune-untagged: true
    - name: Prune screening-portal images
      uses: vlaurin/action-ghcr-prune@v0.6.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        organization: bcgov
        container: pssg-spdbt/screening-portal
        dry-run: false
        keep-younger-than: 7 # days
        keep-last: 5
        prune-untagged: true
    - name: Prune licensing-portal images
      uses: vlaurin/action-ghcr-prune@v0.6.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        organization: bcgov
        container: pssg-spdbt/licensing-portal
        dry-run: false
        keep-younger-than: 7 # days
        keep-last: 5
        prune-untagged: true
